<div class="d-flex flex-wrap j-c-center a-i-center fit-h fit-v">
  <ng-container *ngFor="let item of config?.buttons; let i = index">
    <div class="p-4" style="width: 100%; max-width: 400px;">
      <!-- Button Instance -->
      <div class="text-center m-b-8">
        <app-button-instance [config]="item" (clickedOperation)="onButtonClick(item, i)">
        </app-button-instance>
      </div>

      <!-- Variables Section (Collapsible) -->
      <div *ngIf="hasVariables(item)">
        <button type="button" class="btn btn-link text-left" [attr.aria-expanded]="isExpanded(i)"
          (click)="toggleVariables(i)"
          style="width: 100%; white-space: nowrap; display: flex; align-items: center; padding: 4px 8px;">
          <i [c8yIcon]="isExpanded(i) ? 'chevron-down' : 'chevron-right'" style="margin-right: 8px;"></i>
          <span>Parameters ({{ item.operationVariables?.length }})</span>
        </button>

        <div class="collapse bg-level-1" [collapse]="!isExpanded(i)" [isAnimated]="true">
          <div class="p-16">
            <div *ngFor="let variable of item.operationVariables" class="m-b-8">
              <label class="text-truncate">
                <small><strong>{{ variable.label }}</strong></small>
                <small class="text-muted" *ngIf="variable.type"> ({{ variable.type }})</small>
              </label>

              <!-- Text input -->
              <input *ngIf="variable.type === 'text' || !variable.type" class="form-control input-sm" type="text"
                [(ngModel)]="getVariableValues(i)[variable.varName]"
                [placeholder]="variable.default || 'Enter value'" />

              <!-- Number input -->
              <input *ngIf="variable.type === 'number'" class="form-control input-sm" type="number"
                [(ngModel)]="getVariableValues(i)[variable.varName]"
                [placeholder]="variable.default || 'Enter value'" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>