<div class="d-flex">
  <div class="col-sm-12">
    <div *ngIf="!config.device" class="col-sm-12">
      <div class="text-center  text-16 m-b-16">Define Operation buttons</div>
      <div class="text-center">Before we can start you have to pick a device</div>
    </div>
    <div *ngIf="config.device" class="col-sm-12">
      <div class="text-center  text-16 m-b-16">Define Operation buttons</div>
      <div *ngIf="!config?.buttons?.length">
        <div class="text-center">No Buttons configured yet.</div>
        <div class="j-c-center">
          <button class="m-16 btn btn-primary" (click)="addNewButton()">
            <i c8yIcon="plus"></i>Add first button
          </button>
        </div>
      </div>

      <div *ngFor="let item of config.buttons; let buttonIndex = index">
        <div class="form-block legend col-lg-12"> {{ buttonIndex + 1 }}. Button</div>
        <div class="col-lg-6">
          <fieldset class="c8y-fieldset">
            <legend>Look & Feel</legend>
            <c8y-form-group>
              <label translate for="buttonTypes">Button icon</label>

              <c8y-typeahead placeholder="Type to search for icons" [name]="'buttonIcon-' + buttonIndex"
                container="body" (onSearch)="setIconFilterPipe(buttonIndex, $event)" [(ngModel)]="item.buttonIcon"
                aria-label="Icon typeahead" [hideNew]="true">
                <c8y-li class="p-l-8 p-r-8 c8y-list__item--link"
                  *c8yFor="let icon of iconsList; pipe: getIconFilterPipe(buttonIndex)"
                  (click)="item.buttonIcon = icon.name" [active]="item.buttonIcon === icon.name">
                  <i [c8yIcon]="icon.name || icon.id"></i>
                  <c8y-highlight [text]="icon.name || icon.id" [pattern]="getIconSearchPattern(buttonIndex)">
                  </c8y-highlight>
                </c8y-li>
              </c8y-typeahead>

              <!-- Display selected icon -->
              <div *ngIf="item.buttonIcon" class="m-t-8">
                <small>Selected icon:</small>
                <i [c8yIcon]="item.buttonIcon"></i> {{ item.buttonIcon }}
              </div>
            </c8y-form-group>
            <c8y-form-group>
              <label translate for="buttonType">Button type</label>
              <div class="dropdown" style="width: 100%" dropdown>
                <button type="button" title="Type of button" style="width: 100%" dropdownToggle [ngClass]="
                  'btn btn-default dropdown-toggle c8y-dropdown ' +
                  (item.buttonType || 'btn-warning')
                ">
                  <span><i [c8yIcon]="item.buttonIcon"></i>
                    {{
                    item.buttonType ? item.buttonType : 'Choose color'
                    }}</span>
                </button>

                <ul class="dropdown-menu" *dropdownMenu>
                  <li (click)="item.buttonType = type" *ngFor="let type of buttonTypes">
                    <button type="button" style="width: 100%" [ngClass]="'btn ' + type">
                      <i [c8yButton]="item.buttonType" [c8yIcon]="item.buttonIcon"></i>
                      {{ type }}
                    </button>
                  </li>
                </ul>
              </div>
            </c8y-form-group>
            <c8y-form-group>
              <label translate for="buttonTypes">Button size</label>
              <div class="dropdown" style="width: 100%" dropdown>
                <button type="button" title="Color of the button" style="width: 100%" dropdownToggle [ngClass]="
                  'btn btn-default dropdown-toggle c8y-dropdown ' +
                  (item.buttonSize || 'btn-warning')
                ">
                  <span><i [c8yIcon]="item.icon"></i>
                    {{
                    item.buttonSize ? item.buttonSize : 'Choose size'
                    }}</span>
                </button>

                <ul class="dropdown-menu" *dropdownMenu>
                  <li (click)="item.buttonSize = size" *ngFor="let size of buttonSizes">
                    <button type="button" style="width: 100%" [ngClass]="'btn ' + size">
                      <i [c8yButton]="item.buttonSize" [c8yIcon]="item.buttonIcon"></i>
                      {{ size }}
                    </button>
                  </li>
                </ul>
              </div>
            </c8y-form-group>
            <c8y-form-group [hasWarning]="!item.buttonLabel || item.buttonLabel.length === 0">
              <label translate for="label">Button label</label>
              <input id="label" class="form-control" type="text" name="label" [maxlength]="254" autocomplete="off"
                placeholder="e.g. Restart" [(ngModel)]="item.buttonLabel" required />
              <c8y-messages>
                <c8y-message *ngIf="!item.buttonLabel || item.buttonLabel.length === 0" translate></c8y-message>
                <c8y-message name="required" text="'The label is required'"></c8y-message>
              </c8y-messages>
            </c8y-form-group>

            <c8y-form-group [hasWarning]="!item.buttonTitle || item.buttonTitle.length === 0">
              <label translate for="buttonTitle">Button title</label>
              <input id="buttonTitle" class="form-control" type="text" name="buttonTitle" [maxlength]="254"
                autocomplete="off" placeholder="e.g. Confirm to restart device" [(ngModel)]="item.buttonTitle"
                required />
              <c8y-messages>
                <c8y-message *ngIf="!item.buttonTitle || item.buttonTitle.length === 0" translate></c8y-message>
                <c8y-message name="required" text="'The description is required'"></c8y-message>
              </c8y-messages>
            </c8y-form-group>
          </fieldset>
        </div>

        <div class="col-lg-6">
          <fieldset class="c8y-fieldset">
            <legend>Settings</legend>
            <c8y-form-group>
              <label translate for="icon">Supported operations</label>
              <div class="dropdown" style="width: 100%" dropdown>
                <button style="width: 100%" type="button" title="Choose a supported Device operation" dropdownToggle
                  class="btn btn-default dropdown-toggle c8y-dropdown">
                  <span>{{
                    item.customOperation
                    ? 'Custom Operation'
                    : item.operationFragment || 'Supported Operations'
                    }}</span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" *dropdownMenu>
                  <li (click)="
                      item.operationFragment = operation;
                      item.customOperation = false
                    " *ngFor="let operation of supportedOperations">
                    <button type="button">
                      {{ operation }}
                    </button>
                  </li>
                  <li (click)="item.customOperation = true">
                    <button type="button">Custom operation</button>
                  </li>
                </ul>
              </div>
            </c8y-form-group>
            <c8y-form-group *ngIf="item.customOperation" [hasWarning]="
                !item.operationFragment || item.operationFragment.length === 0
              ">
              <label translate for="operationFragment">Operation fragment</label>
              <input id="operationFragment" class="form-control" type="text" name="operationFragment" [maxlength]="254"
                autocomplete="off" placeholder="e.g. c8y_Restart" [(ngModel)]="item.operationFragment" required />
              <c8y-messages>
                <c8y-message *ngIf="
                    !item.operationFragment || item.operationFragment.length === 0
                  " translate></c8y-message>
                <c8y-message name="required" text="'The operation fragment is required'"></c8y-message>
              </c8y-messages>
            </c8y-form-group>

            <c8y-form-group>
              <label translate for="icon">Requires confirmation</label>
              <label class="c8y-switch" title="{{ 'Active' | translate }}">
                <input type="checkbox" [(ngModel)]="item.requireConfirmationOperation" />
                <span></span>
                <span>
                  {{ 'Requires confirmation of operation' }}
                </span>
              </label>

            </c8y-form-group>

            <c8y-form-group *ngIf="item.requireConfirmationOperation">
              <label translate for="icon">Confirmation text</label>
              <input id="confirmationText" class="form-control" type="text" name="confirmationText" [maxlength]="254"
                autocomplete="off" placeholder="Confirm to send this operation" [(ngModel)]="item.confirmationText" />
            </c8y-form-group>

          </fieldset>
        </div>

        <!-- Operation Value Section -->
        <div class="col-sm-12" *ngIf="item.customOperation">
          <app-operation-value [(value)]="item.operationValue"
            (valueChangeDebounced)="onOperationValueChange(buttonIndex)">
          </app-operation-value>
        </div>

        <!-- Operation Variables Section -->
        <div class="col-sm-12" *ngIf="item.operationVariables && item.operationVariables.length > 0">
          <!-- Operation Variables Section -->
          <div class="col-sm-12" *ngIf="item.operationVariables && item.operationVariables.length > 0">
            <fieldset class="c8y-fieldset">
              <legend>Operation Variables</legend>
              <div class="alert alert-info m-b-16">
                <i c8yIcon="info-circle"></i>
                Define default values and types for variables found in the operation value
              </div>
              <div *ngFor="let variable of item.operationVariables; let varIndex = index" class="row m-b-16">
                <div class="col-sm-12">
                  <div class="form-block">
                    <strong>{{ variable.label }}</strong>
                  </div>
                </div>

                <!-- Variable Type Dropdown -->
                <div class="col-sm-4">
                  <c8y-form-group>
                    <label translate>Type</label>
                    <div class="dropdown" style="width: 100%" dropdown>
                      <button type="button" style="width: 100%" dropdownToggle
                        class="btn btn-default dropdown-toggle c8y-dropdown">
                        <span>{{ variable.type || 'text' }}</span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" *dropdownMenu>
                        <li (click)="variable.type = type" *ngFor="let type of variableTypes">
                          <button type="button">
                            {{ type }}
                          </button>
                        </li>
                      </ul>
                    </div>
                  </c8y-form-group>
                </div>

                <!-- Default Value Input -->
                <div class="col-sm-8">
                  <c8y-form-group>
                    <label translate>Default value</label>
                    <input *ngIf="variable.type === 'text'" class="form-control" type="text"
                      [name]="'variable-' + buttonIndex + '-' + varIndex" [maxlength]="254" autocomplete="off"
                      placeholder="Enter default value for {{ variable.label }}" [(ngModel)]="variable.default" />

                    <input *ngIf="variable.type === 'number'" class="form-control" type="number"
                      [name]="'variable-' + buttonIndex + '-' + varIndex" autocomplete="off"
                      placeholder="Enter default value for {{ variable.label }}" [(ngModel)]="variable.default" />

                    <small class="help-block">
                      This variable will be replaced in the operation value
                    </small>
                  </c8y-form-group>
                </div>
              </div>
            </fieldset>
          </div>
        </div>

        <div class="col-sm-12">
          <button class="btn btn-danger" (click)="removeButton(buttonIndex)">
            <i c8yIcon="delete"></i>Delete button
          </button>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div *ngIf="config?.buttons?.length > 0" class="col-sm-12">
        <button class="m-t-16 m-b-16 btn btn-primary" (click)="addNewButton()">
          <i c8yIcon="plus"></i>Add button
        </button>
      </div>
    </div>
  </div>

  <ng-template #sampleWidgetPreview>
    <app-operation-button-widget [config]="config"></app-operation-button-widget>
  </ng-template>
</div>