<div class="p-l-24 p-t-16 p-r-16 p-b-16">
  <ng-container *ngFor="let item of config?.buttons; let i = index">
    <div class="m-b-24">
      <!-- Button Instance -->
      <div class="m-b-8">
        <app-operation-button [config]="item" (clickedOperation)="onButtonClick(item, i)">
        </app-operation-button>
      </div>

      <!-- Variables Section (Collapsible) -->
      <div *ngIf="hasVariables(item)">
        <div 
          (click)="toggleVariables(i); $event.stopPropagation()"
          style="cursor: pointer; display: flex; align-items: center; padding: 8px 0;">
          <i 
            [c8yIcon]="isExpanded(i) ? 'chevron-down' : 'chevron-right'" 
            style="font-size: 16px; margin-right: 8px; min-width: 16px;">
          </i>
          <span style="font-size: 14px; white-space: nowrap;">
            Parameters ({{ item.operationVariables?.length }})
          </span>
        </div>

        <div class="collapse" [collapse]="!isExpanded(i)" [isAnimated]="true">
          <div class="bg-level-1 p-16 m-t-8" style="border-left: 3px solid #1776bf;">
            <div *ngFor="let variable of item.operationVariables" class="m-b-16">
              <label style="display: block; margin-bottom: 4px;">
                <strong>{{ variable.label }}</strong>
                <span class="text-muted" *ngIf="variable.type"> ({{ variable.type }})</span>
              </label>

              <!-- Text input -->
              <input 
                *ngIf="variable.type === 'text' || !variable.type" 
                class="form-control" 
                type="text"
                [(ngModel)]="getVariableValues(i)[variable.varName]"
                [name]="'var-' + i + '-' + variable.varName"
                [placeholder]="variable.default || 'Enter value'" />

              <!-- Number input -->
              <input 
                *ngIf="variable.type === 'number'" 
                class="form-control" 
                type="number"
                [(ngModel)]="getVariableValues(i)[variable.varName]"
                [name]="'var-' + i + '-' + variable.varName"
                [placeholder]="variable.default || 'Enter value'" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>