<ng-container *ngFor="let item of config.buttons; let buttonIndex = index">
  <fieldset>
    <div class="legend form-block">Button {{ buttonIndex + 1 }}</div>
    <div class="d-flex a-i-stretch">
<!--       <div class="d-flex a-i-center j-c-center">
        <app-button-instance class="p-32" [config]="item"></app-button-instance>
      </div> -->
      <div class="flex-grow">
        <c8y-form-group [hasWarning]="!item.label || item.label.length === 0">
          <label translate for="label">Label</label>
          <input id="label" class="form-control" type="text" name="label" [maxlength]="254" autocomplete="off"
            placeholder="e.g. Restart" [(ngModel)]="item.label" required />
          <c8y-messages>
            <c8y-message *ngIf="!item.label || item.label.length === 0" translate></c8y-message>
            <c8y-message name="required" text="'The label is required'"></c8y-message>
          </c8y-messages>
        </c8y-form-group>

        <c8y-form-group [hasWarning]="!item.description || item.description.length === 0">
          <label translate for="description">Description</label>
          <input id="description" class="form-control" type="text" name="description" [maxlength]="254"
            autocomplete="off" placeholder="e.g. Restart device" [(ngModel)]="item.description" required />
          <c8y-messages>
            <c8y-message *ngIf="!item.description || item.description.length === 0" translate></c8y-message>
            <c8y-message name="required" text="'The description is required'"></c8y-message>
          </c8y-messages>
        </c8y-form-group>

        <c8y-form-group [hasWarning]="!item.operationFragment || item.operationFragment.length === 0">
          <label translate for="operationFragment">Operation fragment</label>
          <input id="operationFragment" class="form-control" type="text" name="operationFragment" [maxlength]="254"
            autocomplete="off" placeholder="e.g. c8y_Restart" [(ngModel)]="item.operationFragment" required />
          <c8y-messages>
            <c8y-message *ngIf="!item.operationFragment || item.operationFragment.length === 0" translate></c8y-message>
            <c8y-message name="required" text="'The operation fragment is required'"></c8y-message>
          </c8y-messages>
        </c8y-form-group>

        <c8y-form-group [hasWarning]="!item.operationValue || item.operationValue.length === 0">
          <label translate for="operationValue">Operation Value</label>
          <input id="operationValue" class="form-control" type="text" name="operationValue" [maxlength]="254"
            autocomplete="off" placeholder="e.g. {text: 'Write newValue:'}" [(ngModel)]="item.operationValue"
            required />
          <c8y-messages>
            <c8y-message *ngIf="!item.operationValue || item.operationValue.length === 0" translate></c8y-message>
            <c8y-message name="required" text="The operation value is required"></c8y-message>
          </c8y-messages>
        </c8y-form-group>

        <c8y-form-group>
          <label translate for="buttonClasses">Button</label>
          <div class="dropdown" dropdown>
            <button type="button" title="dropdown-toggle" dropdownToggle
              [ngClass]="'btn btn-default dropdown-toggle c8y-dropdown ' + item.buttonClasses">
              <span><i [c8yIcon]="item.icon"></i> {{item.label}}</span> <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" *dropdownMenu>
              <li (click)="item.buttonClasses = class" *ngFor="let class of buttonClasses">
                <button type="button" [ngClass]="'btn ' + class">
                  <i [c8yButton]="item.button" [c8yIcon]="item.icon"></i> {{item.label}}
                </button>
              </li>

            </ul>
          </div>
        </c8y-form-group>

        <c8y-form-group>
          <label translate for="icon">Icon</label>
          <div class="dropdown" dropdown>
            <button type="button" title="dropdown-toggle" dropdownToggle
              class="btn btn-default dropdown-toggle c8y-dropdown">
              <span><i [c8yIcon]="item.icon"></i> {{item.icon}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" *dropdownMenu>
              <li (click)="item.icon = iconClass" *ngFor="let iconClass of availableIcons">
                <button type="button">
                  <i [c8yIcon]="iconClass"></i> {{ iconClass }}
                </button>
              </li>

            </ul>
          </div>
        </c8y-form-group>

        <div class="d-flex j-c-center a-i-center">
          <button class="btn btn-danger" (click)="removeButton(buttonIndex)">
            <i c8yIcon="delete"></i>Delete Button
          </button>
        </div>
      </div>
    </div>
  </fieldset>
</ng-container>
<h3 class="text-center" *ngIf="!config?.buttons?.length">No Buttons configured yet.</h3>
<button class="btn btn-secondary" (click)="addNewButton()"><i c8yIcon="plus"></i>Add button</button>