<button
  class="btn"
  [ngClass]="config?.buttonClasses"
  [title]="config?.description"
  (click)="openModal(confirm, 'modal-sm')">
  <i *ngIf="config?.icon" [c8yIcon]="config.icon"></i>
  {{ config?.label }}
</button>

<ng-template #confirm>
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="c8y-prompt alert alert-warning">
        <h3 class="m-b-16">
          <i
            c8y-icon="exclamation-triangle"
            class="dlt-c8y-icon-exclamation-triangle"></i>
          <span ng-show="title">{{ config?.modalText }}</span>
        </h3>
        <div class="alert-footer">
          <button
            title="Cancel"
            class="btn btn-default"
            (click)="modalRef.hide()">
            Cancel
          </button>
          <button
            title="Confirm"
            class="btn btn-primary"
            (click)="createOperation($event)">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
